## SPDX-FileCopyrightText: 2018 M. Shulhan <ms@kilabit.info>
## SPDX-License-Identifier: GPL-3.0-or-later

[Unit]
Description=haminer
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/haminer
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
