## SPDX-FileCopyrightText: 2018 M. Shulhan <ms@kilabit.info>
## SPDX-License-Identifier: GPL-3.0-or-later

[Unit]
Description=haminer
After=syslog.target network.target

[Service]
ExecStart=/usr/local/bin/haminer
User=centos
Restart=always

[Install]
WantedBy=multi-user.target
